body {
  background-color: #798071;
}
p {
  font-size: large;
  color: white;
}

#dices {
  color: whitesmoke;
  font-size: larger;
}

.container-fluid{
  background-color: #5b6055;
  border:  2px solid black ;
  border-radius: 3%;
}

@media screen and (min-width: 1900px) {
  #board{
    width: 80%;
  }
  #dices{
    align-items: flex-end;
  }

}